{{#partial "content"}}
<div class="text-center">
<h1 class="bg-secondary text-white lead py-3">Squads</h1>

{{#if squads}}
<div class="my-2 row justify-content-around align-items-center">
    {{#each squads }}

            <div class="col-md-4 my-2">
            <div class="card">
                <div class="card-header bg-primary text-white">Squad: {{name}}</div>
                <div class="card-body bg-white text-danger">Max Hero Members: {{maxSize}}</div>
                <div class="card-footer bg-dark text-white">
                    <p>Cause: {{cause}}</p>
<!--                    <p><a class="btn btn-primary" href="/squads/{{id}}">Details</a></p>-->
                </div>
                <div class="row justify-content-around align-items-center p-3">
                    <a href="/squads/{{id}}/delete" class="btn btn-sm btn-danger"><i class="fa fa-trash" aria-hidden="true"></i>Delete</a>
                    <a href="/squads/{{id}}/update" class="btn btn-sm btn-success"><i class="fa fa-pencil" aria-hidden="true"></i>Edit</a>
                    <a href="/squads/{{id}}/heroes" class="btn btn-sm btn-primary">View Heroes</a>
                    <a href="/squads/{{id}}/heroes/new" class="btn btn-sm btn-success">Add a hero</a>
                </div>
            </div>
            </div>

    {{/each}}
</div>
{{else}}
    <div class="lead">
        No Squads to display yet. Add some.
    </div>
{{/if}}
</div>
{{/partial}}

{{> layout.hbs}}