{{#partial "content"}}
    <div class="container my-3">

        <div class="col-md-12">
            <!-- Card -->
            <div class="card w-100">

                <!-- Card body -->
                <div class="card-body">
                    {{#if editSquad}}
                    <form action="/squads/{{editSquad.id}}/update" method="post">
                        <p class="h4 text-center py-4">Edit A SQUAD</p>

                        <label for="maxSize" class="grey-text font-weight-light">Maximum Size</label>
                        <input type="number" id="maxSize" name="maxSize" class="form-control" value="{{editSquad.maxSize}}">

                        <label for="squadName" class="grey-text font-weight-light">Your Squad Name</label>
                        <input type="text" id="squadName" name="squadName" class="form-control" value="{{editSquad.squadName}}">

                        <br>

                        <label for="cause" class="grey-text font-weight-light">Your Cause</label>
                        <input type="text" id="cause" name="cause" class="form-control" value="{{editSquad.cause}}">
                        <br>


                    {{else}}
                    <form action="/squad/new" method="post">
                        <p class="h4 text-center py-4">CREATE A SQUAD</p>

                        <label for="maxSize" class="grey-text font-weight-light">Maximum Size</label>
                        <input type="number" id="maxSize" name="maxSize" class="form-control">

                        <label for="squadName" class="grey-text font-weight-light">Your Squad Name</label>
                        <input type="text" id="squadName" name="squadName" class="form-control">

                        <br>

                        <label for="cause" class="grey-text font-weight-light">Your Cause</label>
                        <input type="text" id="cause" name="cause" class="form-control">
                        <br>

                    {{/if}}

                    <div class="text-center">
                        <p>
                            <button class="btn btn-lg btn-success " type="submit">Submit</button>
                        </p>
                    </div>
                </form>

                </div>

            </div>

        </div>

        <div class="row justify-content-around align-items-center mt-2">
            <p><a href="/squads" class="btn btn-lg btn-warning">View Squads</a></p>
            <p><a href="/squad/new" class="btn btn-lg btn-success">Add a Squad</a></p>
        </div>

    </div>

{{/partial}}

{{> layout.hbs}}