{{#partial "content"}}
    <div class="container my-4 py-3">
        <h1 class="text-center">{{squad.squadName}}</h1>

        <div class="row justify-content-around align-items-center my-4">
            {{#if heroes}}
                {{#each heroes}}
                    <div class="col-md-4 my-4 text-center">
                        <!-- Card -->
                        <div class="card card-image my-2 text-center" style="background-image: url(/images/hero-background.jpg);background-size:100% 100%;background-repeat:no-repeat;">

                            <!-- Content -->
                            <div class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4">
                                <div>

                                    <h3 class="card-title pt-2"><strong>Hero: {{name}}</strong></h3>
                                    <p>Age : {{age}}</p>
                                    <p>Special Power : {{specialPower}}</p>
                                    <p>Weakness : {{weakness}}</p>

                                </div>
                            </div>

                        </div>
                        <!-- Card -->

                    </div>
                {{/each}}
            {{else}}
                <div class="container">
                    <h1 class="text-center">No Heroes</h1>

                </div>
            {{/if}}

        </div>



    </div>

{{/partial}}

{{> layout.hbs}}