{{#partial "content"}}
    <div class="text-center">
        <h1 class="bg-secondary text-white lead py-3">Squads</h1>

        {{#if squads}}
            <div class="my-2 row justify-content-around align-items-center">
                {{#each squads }}

                    <div class="col-md-4 my-2">
                        <div class="card">
                            <div class="card-header bg-primary text-white">Squad: {{name}}</div>
                            <div class="card-body bg-white text-danger">Max Hero Members: {{maxSize}}</div>
                            <div class="card-footer bg-dark text-white">
                                <p>Cause: {{cause}}</p>
                                <!--                    <p><a class="btn btn-primary" href="/squads/{{id}}">Details</a></p>-->
                            </div>
                            <div class="row justify-content-around align-items-center p-3">
                                <a href="/squads/{{id}}/delete" class="btn btn-sm btn-danger"><i class="fa fa-trash" aria-hidden="true"></i>Delete</a>
                                <a href="/squads/{{id}}/update" class="btn btn-sm btn-success"><i class="fa fa-pencil" aria-hidden="true"></i>Edit</a>
                                <a href="/squads/{{id}}/heroes" class="btn btn-sm btn-primary">View Heroes</a>
                                <a href="/squads/{{id}}/heroes/new" class="btn btn-sm btn-success">Add a hero</a>
                            </div>
                        </div>
                    </div>

                {{/each}}
            </div>
        {{else}}
            <div class="lead">
                No Squads to display yet. Add some.
            </div>
        {{/if}}
    </div>
{{/partial}}

{{> layout.hbs}}

<!--{{#partial "content"}}-->
<!--   <div class="container">-->
<!--       <h1>SQUAD LIST</h1>-->

<!--       <div class="row">-->
<!--           {{#if squads}}-->
<!--               {{#each squads}}-->
<!--                   <div class="col-md-6">-->
<!--                       &lt;!&ndash; Card &ndash;&gt;-->

<!--                       <div class="card card-cascade narrower">-->

<!--                           &lt;!&ndash; Card image &ndash;&gt;-->
<!--                           <div class="view view-cascade gradient-card-header purple-gradient text-center">-->

<!--                               &lt;!&ndash; Title &ndash;&gt;-->
<!--                               <h2 class="card-header-title mb-3">Squad {{squadName}}</h2>-->


<!--                           </div>-->

<!--                           &lt;!&ndash; Card content &ndash;&gt;-->
<!--                           <div class="card-body card-body-cascade text-center">-->

<!--                               &lt;!&ndash; Text &ndash;&gt;-->
<!--                               <p class="card-text">Our Cause: {{cause}} </p>-->
<!--                               <p class="card-text">Squad Size: {{maxSize}} </p>-->

<!--                               <hr>-->
<!--                               <div class="d-flex card-menu">-->
<!--                                   <a href="/squads/{{id}}/delete" class="btn btn-sm btn-danger"><i class="fa fa-trash"></i>Delete</a>-->
<!--                                   <a href="/squads/{{id}}/update" class="btn btn-sm btn-success"><i class="fa fa-pencil-alt"></i>Edit</a>-->
<!--                                   <a href="/squads/{{id}}/heroes" class="btn btn-sm btn-flat">View Heroes</a>-->
<!--                                   <a href="/squads/{{id}}/heroes/new" class="btn btn-sm btn-outline-secondary waves-effect">Add a hero</a>-->
<!--                               </div>-->



<!--                           </div>-->
<!--                           &lt;!&ndash; Card content &ndash;&gt;-->

<!--                       </div>-->
<!--                       &lt;!&ndash; Card &ndash;&gt;-->

<!--                   </div>-->

<!--               {{/each}}-->
<!--           {{else}}-->
<!--               <h1>No Squads</h1>-->
<!--           {{/if}}-->


<!--       </div>-->



<!--   </div>-->


<!--{{/partial}}-->
<!--{{> layout.hbs}}-->