{{#partial "content"}}
    <div class="container my-4 py-3">


        <div class="row justify-content-around align-items-center my-4">
            {{#if heroes}}
                {{#each heroes}}
                    <h1 class="text-center">{{squad.squadName}}</h1>

                    <div class="col-md-4 my-4 text-center">
                        <!-- Card -->
                        <div class="card card-image my-2 text-center hero-card">

                            <!-- Content -->
                            <div class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4">
                                <div>

                                    <h3 class="card-title pt-2"><strong>Hero: {{name}}</strong></h3>
                                    <p>Age : {{age}}</p>
                                    <p>Special Power : {{specialPower}}</p>
                                    <p>Weakness : {{weakness}}</p>

                                </div>
                            </div>

                        </div>
                        <!-- Card -->

                    </div>
                {{/each}}
            {{else}}
                <div class="container text-center">
                    <h1 class="lead text-white">No Heroes Added Yet</h1>
                    <div class="row justify-content-center align-items-center p-2">
                        <a href="/squads" class="btn btn-lg btn-success">Back to Squads</a>
                    </div>

                </div>
            {{/if}}

        </div>

        <div class="row justify-content-around align-items-center py-2">
            <p><a href="/squads" class="btn btn-lg btn-warning">View Squads</a></p>
            <p><a href="/squad/new" class="btn btn-lg btn-success">Add a Squad</a></p>
        </div>

    </div>

{{/partial}}

{{> layout.hbs}}